<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Signup</h1>
            <h6>Fill the form</h6>
          </div>
          <form [formGroup]="signUpFrom">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" formControlName="fullName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <span class="text-denger" *ngIf="signUpFrom.controls['fullName'].dirty && signUpFrom.hasError('requered','fullName')">*Full Name is requered</span>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" formControlName="userName" class="form-control" >
              <span class="text-denger" *ngIf="signUpFrom.controls['userName'].dirty && signUpFrom.hasError('requered','userName')">*Full Name is requered</span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Mobile</label>
                <input type="number" formControlName="mobile" class="form-control" >
                <span class="text-denger" *ngIf="signUpFrom.controls['mobile'].dirty && signUpFrom.hasError('requered','mobile')">*Full Name is requered</span>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                <span class="text-denger" *ngIf="signUpFrom.controls['password'].dirty && signUpFrom.hasError('requered','password')">*Password is requered</span>
              </div>
              <div class="form-group mt-4">
                <label for="exampleInputPassword1" class="form-label">userType</label>
               <select formControlName="userType" class="form-select" aria-label="Default select example">
                   <option selected >Selecte User Type</option>
                   <option value="Admin">Admin</option>
                   <option value="Employee">Employee</option>
               </select>
                <span class="text-denger" *ngIf="signUpFrom.controls['userType'].dirty && signUpFrom.hasError('requered','userType')">*userType is requered</span>
              </div>     
            <!-- <button [disabled]="!signUpFrom.valid" type="submit" (click)="signUp()" class="btn btn-primary mt-3">Sign Up</button> -->
          
          </form>
          <a routerLink="/login" style="float:right;color:white ;">Already registered? click to signup !!</a>
        </div>
      </div>
    </div>
  </div>