<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Complex</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openComplex()">Add New</button>
</mat-toolbar>

<div class="container">
    <div style="margin-top: 10px;">
        <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
        
        <button mat-button class="m"  (click)="exportExcel()"><img src="assets\image\excel1.png" width="25px" height="25px"></button> 
        <button mat-button (click)="openPDF()"><mat-icon color="warn"> picture_as_pdf</mat-icon></button>


        <div class="mat-elevation-z8">
            <div class="example-container ">
                <table mat-table [dataSource]="dataSource" matSort id="contentToConvert">

                    <!-- <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container> -->

                    <!-- <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let comp"> {{comp[column]}} </td>
            </ng-container> -->

                    <ng-container cdkColumnDef="companyName">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Company Name</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.company.companyName}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexCode">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Code</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexCode}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexName">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Name</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexName}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexDescription">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Description</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexDescription}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexAvailability">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Availability</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexAvailability}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexCondition">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Condition</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexCondition}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexCriticality">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Criticality</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexCriticality}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexTotalGrossArea">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Total Gross Area</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexTotalGrossArea}}m2</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexCoveredArea">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Covered Area</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexCoveredArea}}m2</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexTotalVolume">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Total Volume</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexTotalVolume}}m3</td>
                    </ng-container>

                    <ng-container cdkColumnDef="complexTotalHeatedVolume">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Total Heated Volume</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.complexTotalHeatedVolume}}m3</td>
                    </ng-container>

                    <ng-container cdkColumnDef="address">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Address</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.address}}</td>
                    </ng-container>

                    <!-- <ng-container cdkColumnDef="address2">
                <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Complex Address2</th>
                <td cdk-cell *cdkCellDef="let row">{{row.address2}}</td>
            </ng-container> -->

                    <ng-container cdkColumnDef="city">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>City</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.city}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="state">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>State</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.state}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="country">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Country</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.country}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="pinCode">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Pin Code</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.pinCode}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="action">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Action</th>
                        <td cdk-cell *cdkCellDef="let row">

                            <button mat-icon-button>
                                <mat-icon color="primary" (click)="editComplex(row)">edit</mat-icon>
                                <mat-icon color="warn" (click)="deleteComplex(row.id)">delete</mat-icon>
                            </button>
                       </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
                </table>
                <br>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of employees"></mat-paginator>
        </div>
    </div>
</div>