<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Company</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openCompany()">Add New</button>
</mat-toolbar>

<div class="container">
    <!-- <button (click)="exportexcel()">Export to Excel</button>  -->
    <div style="margin-top: 10px;">
        <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
        <button mat-button class="m"  (click)="exportExcel()"><img src="assets\image\excel1.png" width="25px" height="25px"></button> 
        <button mat-button (click)="openPDF()"><mat-icon color="warn"> picture_as_pdf</mat-icon></button>
        <div class="mat-elevation-z8">
            <div class="example-container ">
                <table mat-table [dataSource]="dataSource" matSort id="htmlData">

                    <ng-container cdkColumnDef="Id" >
                        <th [style.display]="'none'" cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Id</th>
                        <td [style.display]="'none'" cdk-cell *cdkCellDef="let row">{{row.id}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="companyCode" >
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Code</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.companyCode}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="companyName">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Name</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.companyName}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="companyDescription">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Description</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.companyDescription}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="address">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Address</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.address}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="city">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>City</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.city}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="state">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>State</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.state}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="pinCode">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Pin Code</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.pinCode}}</td>
                    </ng-container>

                    <ng-container cdkColumnDef="country">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Country</th>
                        <td cdk-cell *cdkCellDef="let row">{{row.country}}</td>
                    </ng-container>

                   

                    <ng-container  cdkColumnDef="action">
                        <th cdk-header-cell *cdkHeaderCellDef cdk-sort-header>Action</th>
                        <td cdk-cell *cdkCellDef="let row">

                            <button mat-icon-button>
                                <mat-icon (click)="editCompany(row)" color="primary">edit</mat-icon>
                                <mat-icon color="warn" (click)="deleteCompany(row.id)">delete</mat-icon>
                            </button>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
                </table>
                <br>
            </div>
             
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of employees"></mat-paginator>
        </div>
    </div>
</div>